/* You can add global styles to this file, and also import other style files */

body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.green {
    background-color: rgb(97, 173, 97);
    color: white !important;
  }

  .red {
    background-color: rgb(235, 107, 107);
    color: white !important;
  }

  .notes {
    width: 100%;
    height: 250px;
    border: 1px solid #ccc;
    overflow: none;
  }

  textarea {
    border: none;
    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    resize: none;
}

.data-display {
  width: 100%;
}
