<app-header>
</app-header>
<div class="container-fluid">
    <div class="row shadow p-4 mt-2">
        <div *ngFor="let day of week" class="day">
            <h1>{{ day | date : 'EEEE'}}<i class="fa-solid fa-plus add-btn" (click)="showSchedulePatient(day)"></i></h1>
            <div class="date">{{ day | date }}</div>
            <div *ngFor="let visit of visits">
              <div *ngIf="visit.date == day" class="visit">
              <a href="javascript:void(0)" (click)="getVisit(visit)">{{ visit.last_name | uppercase }}, {{ visit.first_name | uppercase }}</a>
              </div>
            </div>
        </div>
    </div>
</div>

<!-- Search Patient -->
<ng-template let-data #schedulePatientDialog class="patient-dialog">
    <h1 mat-dialog-title></h1>
    <div mat-dialog-content>
      <h1>Schedule Patient</h1>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="searchTerm" (keyup.enter)="searchPatient()">
      </mat-form-field>
    </div>
    <div *ngIf="patientSearch">
        <p *ngFor="let patient of patientSearch">
          <a href="javascript:void(0)" (click)="schedulePatient(patient)">{{ patient.last_name | uppercase}} , {{ patient.first_name | uppercase }}</a>
        </p>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button (click)="searchPatient()" style="float:right;">Search</button>
    </div>
</ng-template>

<!-- View Visit-->
<ng-template let-data #viewVisitDialog>
  <h1 mat-dialog-title></h1>
  <div mat-dialog-content>
    <h1>{{ selectedVisit.last_name | uppercase }} , {{ selectedVisit.first_name | uppercase }} </h1>
    {{ selectedVisit.date | date : 'EEEE'}} {{ selectedVisit.date | date }}
  </div>
  <div mat-dialog-actions>
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="accent" mat-dialog-close (click)="unscheduleVisit()">Unschedule</button>
    <button mat-button [routerLink]="['/patient-profile', selectedVisit.patient_id]" mat-dialog-close>Patient Profile</button>
  </div>
</ng-template>
