<div class="container-fluid">
    <div class="row p-3 nav">
        <div class="col-2 nav-item">
            <a href="">Schedule<i class="fa-solid fa-clock nav-icon"></i></a>
        </div>
        <div class="col-2 nav-item">
            <a href="map">Map<i class="fa-solid fa-map nav-icon"></i></a>
        </div>
        <div class="col-2 nav-item" style="margin-left:-35px;">
            <a href="patients">Patients<i class="fa-solid fa-users nav-icon"></i></a>
        </div>
        <div class="col-2 nav-item" style="margin-left:-10px;">
          <a href="visits">Visits<i class="fa-solid fa-book nav-icon"></i></a>
      </div>
    </div>
</div>
