.nav {
  background-color: rgb(23, 145, 197);
  padding:1em;
  display:block;
}

.nav a {
  color: white;
  text-decoration: none;
  margin-left:25px;
}

.nav-icon {
  margin-left:10px;
}

.search {
  float:right;
  margin-top:-5px;
}

.search input, button {
  padding: .25em;
}

.search input {
  outline:none;
  border:1px solid white;
}

.search button {
  background-color: #4CAF50;
  border:1px solid #4CAF50;
  color: white;
}
