<app-header>
</app-header>

<div class="container-fluid">
  <div class="row p-3">
    <div class="col-12 p-5" *ngIf="patient">
        <h1><i class="fa-solid fa-user nav-icon"></i>Patient Profile - {{ patient.last_name | uppercase }}, {{ patient.first_name | uppercase }} </h1>
        <h3><a href="http://maps.google.com/?q={{patient.address}}">{{patient.address | uppercase }}</a></h3>
        <button mat-button color="primary" class="green" (click)="showUpdatePatient()">Update</button>
        <button mat-button color="accent" class="red" (click)="showDeletePatient()" style="margin-left:10px;">Delete</button>
    </div>
    <div class="col-12 p-5" style="margin-top:-50px;">
      <div class="col-12" style="margin-bottom:50px;">
        <mat-chip-list>
          <mat-chip class="b" selected *ngFor="let condition of conditions">{{ condition.name }}</mat-chip>
        </mat-chip-list>
      </div>
        <h1>Recent Visits</h1>
        <table mat-table [dataSource]="recentVisits" class="mat-elevation-z0 m-1 data-display">
            <ng-container matColumnDef="visit_id">
                <th mat-header-cell *matHeaderCellDef>Visit ID</th>
                <td mat-cell *matCellDef="let visit">{{ visit.id }}</td>
            </ng-container>
            <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef>Date</th>
                <td mat-cell *matCellDef="let visit">{{visit.date | date:"MM/dd/yy"}}</td>
            </ng-container>
            <ng-container matColumnDef="notes">
                <th mat-header-cell *matHeaderCellDef>Notes</th>
                <td mat-cell *matCellDef="let visit">{{visit.notes}}</td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns; let visit"></tr>
        </table>
    </div>

    <div class="col-12 p-5" style="margin-top:-25px;">
      <h1>Notes</h1>
      <p class="p-2" *ngIf="patient">{{ patient.notes | uppercase}}</p>
    </div>
</div>
</div>

<!-- Update Patient -->
<ng-template let-data #updatePatientDialog class="patient-dialog">
    <h1 mat-dialog-title></h1>
    <div mat-dialog-content>
      <h1>Update Patient</h1>
      <mat-form-field appearance="fill">
        <mat-label>First Name</mat-label>
        <input matInput [(ngModel)]="patient.first_name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Last Name</mat-label>
        <input matInput [(ngModel)]="patient.last_name">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Address</mat-label>
        <input matInput [(ngModel)]="patient.address">
      </mat-form-field>
      <mat-form-field appearance="fill">
        <mat-label>Phone Number</mat-label>
        <input matInput [(ngModel)]="patient.phone_number">
      </mat-form-field>
    </div>
    <div class="col-12">
      <mat-form-field class="chip-list">
        <mat-label>Conditions</mat-label>
        <mat-chip-list #chipList aria-label="Condition selection">
          <mat-chip color="accent" *ngFor="let condition of conditions" [selectable]="selectable"
                   [removable]="removable" (removed)="remove(condition)">
            {{condition.name}}
            <a href="javascript:void(0)" matChipRemove><i class="fa-solid fa-remove remove"></i></a>
          </mat-chip>
          <input placeholder="Add condition..."
                 [matChipInputFor]="chipList"
                 [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                 [matChipInputAddOnBlur]="addOnBlur"
                 (matChipInputTokenEnd)="add($event)">
        </mat-chip-list>
      </mat-form-field>
    </div>
    <div class="col-12">
      <h2>Notes</h2>
      <textarea class="notes" [(ngModel)]="patient.notes"></textarea>
    </div>
    <div mat-dialog-actions>
      <button mat-button mat-dialog-close>Cancel</button>
      <button mat-button mat-dialog-close (click)="updatePatient()" class="green">Update</button>
    </div>
</ng-template>

<!-- Delete Patient -->
<ng-template let-data #deletePatientDialog class="patient-dialog">
  <h1 mat-dialog-title></h1>
  <div mat-dialog-content>
    <h1>Delete Patient</h1>
    Are you sure you want to delete this patient? This action cannot be undone.
  </div>
  <div mat-dialog-actions style="float:right;">
    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button color="warn" mat-dialog-close (click)="deletePatient()" class="red"r>Yes</button>
  </div>
</ng-template>
