.nav-icon {
margin-right: 10px;
}

.data-display {
    width: 100%;
}

.mat-form-field {
    width: 100%;
}

.chip-list {
  width: 100%;
}

.remove {
  margin-top:2px;
}

.b {
  background-color: rgb(70, 174, 219) !important;
}
